<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
<div class="container mx-auto border border-4" flex>
  <div class="row justify-content-centre col-3 sm-3">
    <button class="m-1">Fetch Details</button>
  </div>
  <div class="row justify-content-around m-2 p-1">
    <span class="col-2 text-center fw-bold bg-secondary bg-gradient m-2 p-1"> Product </span>
    <select class="col-5 btn-group">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <button class="col-2 m-2 p-1">GET</button>
  </div>
  <div>
    <div class="row justify-content-around">
      <label class="col-2 text-wrap fw-bold bg-secondary bg-gradient text-center m-2 p-1"> Product Name </label>
      <input class="col-3 m-1" readonly type="text">
    </div>
    <div class="row justify-content-around">
      <label class="col-2 text-wrap fw-bold bg-secondary bg-gradient text-center m-2 p-1"> Short Description </label>
      <input class="col-3 m-1" readonly type="text">
    </div>
    <div class="row justify-content-around">
      <label class="col-2 text-wrap fw-bold bg-secondary bg-gradient text-center m-2 p-1"> Detailed Description </label>
      <input class="col-3 m-1" readonly type="text">
    </div>
    <div class="row justify-content-around">
      <label class="col-2 text-wrap fw-bold bg-secondary bg-gradient text-center m-2 p-1"> Category </label>
      <input class="col-3 m-1" readonly type="text">
    </div>
    <div class="row justify-content-around">
      <label class="col-2 text-wrap fw-bold bg-secondary bg-gradient text-center m-2 p-1"> Starting Price </label>
      <input class="col-3 m-1" readonly type="text">
    </div>
    <div class="row justify-content-around">
      <label class="col-2 text-wrap fw-bold bg-secondary bg-gradient text-center m-2 p-1"> Bid End Date </label>
      <input class="col-3 m-1" readonly type="text">
    </div>
  </div>
  <div class="container">
    <p class="text-center fw-bold mx-auto bg-secondary border border-dark border-1 m-3" style="width: 300px;">Bids</p>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Bid Amount</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
